MNEMONIC=""
# Used for infura based network
INFURA_KEY=""
# Used for custom network
NODE_URL=""
ETHERSCAN_API_KEY=""
# Use the Safe singleton factory for singleton deployment. This is required if EIP-155 is enforce on a chain.
# CUSTOM_DETERMINISTIC_DEPLOYMENT="true"