name: certora

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

    workflow_dispatch:

jobs:
    verify:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                rule: ["execute", "extensible", "fallback", "guards", "hash", "module", "nativeTokenRefund", "owner", "safe", "safeMigration", "safeToL2Migration", "safeToL2Setup", "setup", "signatures"]

        steps:
            - uses: actions/checkout@v4

            - name: Install python
              uses: actions/setup-python@v4
              with: { python-version: 3.11 }

            - name: Install certora cli
              run: pip install -r certora/requirements.txt

            - name: Install solc
              run: |
                  wget https://github.com/ethereum/solidity/releases/download/v0.7.6/solc-static-linux
                  chmod +x solc-static-linux
                  sudo mv solc-static-linux /usr/local/bin/solc7.6

            - name: Verify rule ${{ matrix.rule }}
              run: |
                  cd certora
                  touch applyHarness.patch
                  make munged
                  cd ..
                  echo "key length" ${#CERTORAKEY}
                  certoraRun certora/conf/${{ matrix.rule }}.conf --wait_for_results=all
              env:
                  CERTORAKEY: ${{ secrets.CERTORA_KEY }}
